.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

header {
  margin: 2rem;
  flex: 1 2;
}

.random {
  display: flex;
  flex-direction: column;
  flex: 10 1;
  width: 100%;
  align-items: center;
}

section {
  width: 100%;
  flex: 1 2;
}

.brew-random {
  width: 40%;
  border: 1px solid hsl(24.706, 100%, 36.667%);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}
