:root {
  --text: hsl(220, 42.857%, 10.98%);
  --text-h: hsl(30.133, 100%, 44.118%);
  --icon: hsl(24.706, 100%, 36.667%);
  --bg: hsl(48, 100%, 96.078%);

  --font: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  --heading: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

  font: 18px/145% var(--font);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(48, 100%, 96.078%);
    --text-h: hsl(30.133, 100%, 44.118%);
    --bg: hsl(220, 42.857%, 10.98%);
  }
}

#root {
  width: 1248px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--text-h);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bg);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0.2rem;
  margin: 0.2rem;
}

nav ul a {
  text-decoration: none;
}

nav ul a:hover {
  color: var(--icon);
  transition: 0.15s;
}

footer {
  width: 100%;
  text-align: end;
  font-size: 0.8rem;
  margin-top: auto;
  height: 1.1rem;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 800;
  color: var(--icon);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

a {
  color: var(--text-h);
}
a:hover {
  color: var(--icon);
  transition: 0.15s;
}

.highlight {
  color: var(--icon);
}

.navButton {
  color: var(--text-h);
  font-size: 1.2rem;
  border: transparent;
  background-color: transparent;
}
.navButton:hover {
  color: var(--icon);
  transition: 0.15s;
  cursor: pointer;
}

#brewButton {
  color: var(--text);
  background-color: var(--icon);
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 0.2rem;
  padding: 0.2rem 0.8rem;
}
